header{
    z-index: 2;
    background-color: $color-principal;
    .navbar{
      padding: 10px 10%;
      align-items: center;
      justify-content: center; 
     
        button{
            border: none;
            background-color: transparent;
            i{
                font-size: 50px;
            }
        }

        a{
            color: black;
        }
    }
    
 }

 @media (max-width: 600px){
    header{
        border-bottom: 1px solid white;
    }
 }
 
 
 
 
 