header{
    .navbar{
      padding: 20px;
      align-items: center;
      justify-content: center;  
        button{
            border: none;
        }
        a{
            color: black;
        }
    }
    
 }
 
 
 
 
 
 